/* Wildcard Selector to override default browser styles */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #153866;
}

/* Main Content */
main {
    background: url(../jose-mizrahi-AVZGjxcHVRA-unsplash.webp) no-repeat center center/cover;
}

/* Footer */
footer {
    background-color: #153866;
}