/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merienda:wght@300;400;500;600;700;800;900&display=swap');

/* Wildcard Selector to override default browser styles */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* General Sytles */
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    font-family: 'Courgette', 'Merienda', cursive;
}

/* Header */
header {
    background-color: #153866;
    box-shadow: 0 4px 4px #153866;
    z-index: 99; 
}

/* Header Logo */
img {
    height: 75px; 
    width: 125px;
}

/* Main Content */
main {
    background: url(../jose-mizrahi-AVZGjxcHVRA-unsplash.webp) no-repeat center center/cover;

    /* Make main element take up majority of space and push footer down*/ 
    flex: 1 0 auto; 
}

/* Website Name & CTA Message */
#intro {
    width: 75%;
    background: #ffffff;
    aspect-ratio: 100 / 40;
    margin: auto; 
    text-align: center;
    margin-top: 25px; 
    line-height: 1.7;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

/* Quiz Container */
#quizContainer {
    width: 75%;
    background: #ffffff;
    aspect-ratio: 100 / 145;
    margin: auto; 
    margin-top: 20px; 
    border-radius: 15px;
}

/* Footer */
footer {
    background-color: #153866;
}

/* Styling of social networks icons */
#social-networks {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;  
    list-style-type: none; 
    font-size: 190%;
}

/* Styling of footer copyright */
#copyright {
    text-align: center;
    font-family: sans-serif;
    color: #ffffff; 
}