/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merienda:wght@300;400;500;600;700;800;900&display=swap');

/* Wildcard Selector to override default browser styles */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* General Sytles */
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #153866;
}

/* Main Content */
main {
    background: url(../jose-mizrahi-AVZGjxcHVRA-unsplash.webp) no-repeat center center/cover;

    /* Make main element take up majority of space and push footer down*/ 
    flex: 1 0 auto; 
}

/* Footer */
footer {
    background-color: #153866;
}